# Ignore environment variables file
.env

# Ignore virtual environment directory
venv/

# Ignore other common Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
*.log

# Ignore local settings or configurations
*.local
*.envrc

# Ignore MySQL configuration files
*.sql
*.db
*.sqlite
*.sqlite3

# Ignore any local MySQL config files
mysql_config.json
db_config.yml

# Ignore any dump files
*.dump
*.sql.gz

# Ignore database backups
backups/

# Ignore specific files or directories (add more as needed)
# your_specific_file_or_directory/
.vercel
